/*-- scss:defaults --*/

// Define fonts
@font-face{
    font-family: 'AtkinsonHyperlegible';
    src: url("./fonts/AtkinsonHyperlegibleNext-Regular.otf");
}

@font-face{
    font-family: 'AtkinsonHyperlegible';
    src: url("./fonts/AtkinsonHyperlegibleNext-SemiBold.otf");
    font-weight: bold;
}

$font-family-sans-serif: AtkinsonHyperlegible;

$accent1: #D48082;
$accent2: #C50003;

// Dark Mode

$body-bg: #000000;
$body-color: #E0E0E0;
$navbar-bg: #000000;
$navbar-fg: #E0E0E0;
$footer-bg: #000000;
$footer-fg: #adadad;

$link-color: $accent1;
$link-hover-color: $accent2;

/*-- scss:rules --*/

// Set border for navbar
.navbar{
    border-width: 0px;
}   

h2, .h2{
    border-bottom: 0px;
}

.callout.callout-style-simple {
    padding: 0em 0em;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

.callout.callout-style-simple>div.callout-header {
    border-bottom: none;
    font-weight: 500;
    font-size: 14pt;
    opacity: 100%;
    padding-top: 0em;
    color: $accent1;
}

.callout {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.justify {
  text-align: justify !important
}

.btn {
    color: $accent1;
}

.btn-outline-primary {
    color: $accent1;
    border-color: $accent1;
}